{% extends "base.html" %}

{% include "header.html" %}

{% block title  %}
Home
{% endblock %}

{% block body  %}


<div class="container">
    <div class="row">
        <div class="col md-12">
            <div class="jumbotron p-3">
                <div class="jumbotron p-3">

                    <h2>Manage <b>Employees </b>
                        <button class="btn btn-success float-right" data-target="#mymodal"
                                data-toggle="modal" type="button">Add New Employees
                        </button>
                    </h2>

                    {% with messages = get_flashed_messages() %}
                    {% if messages %}
                    {% for message in messages %}

                    <div class="alert alert-success alert-dismissible" role="alert">
                        <button aria-label="close" class="close" data-dismiss="alert" type="button">
                            <span aria-hidden="true">
                                x
                            </span>
                        </button>
                        {{message}}

                    </div>

                    {% endfor %}
                    {% endif %}
                    {% endwith %}

                    <table class="table table-hover table-light table-bordered">

                        {% for row in employees %}
                        <tr>
                            <th>ID</th>
                            <th>Name</th>
                            <th>Email</th>
                            <th>Address</th>
                            <th>Action</th>
                        </tr>

                        <tr>
                            <td>{{row.id}}</td>
                            <td>{{row.name}}</td>
                            <td>{{row.email}}</td>
                            <td>{{row.address}}</td>
                            <td>
                                <a class="btn btn-warning btn-xs" data-target="#modaledit{{row.id}}" data-toggle="modal"
                                   href="/update/{{row.id}}">Edit</a>

                                </a>

                                <a class="btn btn-danger btn-xs" href="/delete/{{row.id}}"
                                   onclick="return confirm('Are You Sure To Delete ?')">Delete</a>
                            </td>
                        </tr>

                        {% include "update.html" %}

                        {% endfor %}
                    </table>

                </div>

                {% include "create.html" %}


            </div>
        </div>
    </div>

    {% endblock %}